.start-screen {
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    img {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }
}

.start-label-box {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    bottom: 20%;
    img {
        width: 15vw;
        height: auto;
        min-width: 15rem;
        &:hover {
            filter: brightness(1.25);
            cursor: pointer;
        }
    }
}