.field {
    height: 100vh;
    max-width: 100%;
    background-image: url("../../assets/img/board.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .card-stack {
        position: relative;
        img {
            position: absolute;
            width: 120px;
        }
        .top-card {
            cursor: pointer;
            transition: all 125ms ease-in-out;
            &:hover {
                transform: scale(1.1) translateY(-10px);
            }
        }
        .pick-card {
            animation: pick-card-animation 1.25s ease-in-out;
            transform: scale(1.1) translateX(50px) translateY(-220px) rotate(-10deg);
        }
        .played-card {
            right: 25px;
            transform: scale(1.1) translateX(50px) translateY(-220px) rotate(-10deg);
        }
    }
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.7);
    }
    50% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1.1) translateX(50px) translateY(-220px) rotate(-10deg);
    }
}

.player-position {
    position: absolute;
    right: 0;
    z-index: 150;
}

.pin-bottom {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
}

.add-player-box {
    display: flex;
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    h2 {
        display: flex;
        position: relative;
        top: 10px;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: 'Indie Flower', cursive;
        margin-right: 10px;
    }
    button {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:800px) {
    .player-position {
        position: absolute;
        right: 0;
        z-index: 150;
    }
    .field {
        .card-stack {
            img {
                width: 80px !important;
            }
            .pick-card {
                animation: pick-card-animation 1.25s ease-in-out;
                transform: scale(1.1) translateX(10px) translateY(-180px) rotate(-10deg);
            }
            .played-card {
                right: 25px;
                transform: scale(1.1) translateX(10px) translateY(-180px) rotate(-10deg);
            }
        }
    }
    @keyframes pick-card-animation {
        0% {
            transform: scale(1);
        }
        40% {
            transform: scale(1.7);
        }
        50% {
            transform: scale(1.7);
        }
        100% {
            transform: scale(1.1) translateX(10px) translateY(-180px) rotate(-10deg);
        }
    }
    /*
    .btn-add {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }*/
    .pin-bottom {
        position: absolute;
        bottom: 1rem;
        left: 1rem !important;
        right: 1rem !important;
    }
    .add-player-box {
        justify-content: flex-start;
        padding-left: 8px;
    }
}